{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles_cadastro.css' %}">
</head>

<body>
    <!-- Navegação -->
    <nav class="navbar mb-5 bg-nav">
        <div class="container-fluid">
            <div class="container border rounded pt-3">
                <div class="row">
                    <div class="col-sm-1 mb-2">
                        <img src="{% static 'img/Brasao.png' %}" alt="Brasao CG" width="100" height="100">
                    </div>
                    <div class="col-sm-11 text-center text-white pt-2">
                        <h1 class="fs-3">CGAP – Coordenadoria de Gestão de Áreas Públicas</h1>
                        <h2 class="fs-4">Secretária Municipal de Meio Ambiente e Gestão Urbana</h2>
                    </div>
                </div>
                <div class="row border rounded">
                    <div class="col-sm-12">
                        <ul class="links-nav mt-2 p-0" type="none">
                            <li class="text-white text-decoration-underline fs-6"><a href="#cadastro">Cadastro</a></li>
                            <li class="text-white text-decoration-underline fs-6"><a
                                    href="#documentacao">Documentação</a></li>
                            <li class="text-white text-decoration-underline fs-6"><a href="#resp_tecnico">Responsável
                                    Técnico</a></li>
                            <li class="text-white text-decoration-underline fs-6"><a href="dados_local">Dados do
                                    Local</a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!-- Titulo do Formulário com a mensagem -->
    <div class="container">
        <div class="row text-title border border-primary rounded p-3">
            <div class="col-sm text-center">
                <h1 class="text-white">Cadastro de Áreas Públicas</h1>
            </div>
        </div>
        <div class="row">
            <div class="col-sm">
                {% bootstrap_messages %}
            </div>
        </div>
    </div>
    <!-- Formulário de preenchimento -->
    <div class="container container-form mt-5 border rounded">
        <div class="row">
            <div class="col-sm text-white">
                <form class="form px-3" action="{% url 'cadastrar' %}" method="post" autocomplete="on">
                    <!-- Sem o token o formulario não é enviado (csrf_token para form é obrigatorio)-->
                    {% csrf_token %}

                    {{form}}
                </form>
            </div>
        </div>
    </div>

</body>

</html>