{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Banco de Dados</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles_cadastro.css' %}">
</head>

<body class="bg-nav mt-5">
    <!-- Navegação -->
    <nav class="navbar mb-5 bg-nav border rounded">
        <div class="container-fluid">
            <div class="container">
                <div class="row">
                    <div class="col-lg-1 mb-2 text-center">
                        <img class="img-fluid border rounded" src="{% static 'img/Brasao.png' %}" alt="Brasao CG" width="80"
                            height="80">
                    </div>
                    <div class="col-lg-11 text-center text-white pt-2">
                        <h1 class="fs-4">CGAP – Coordenadoria de Gestão de Áreas Públicas</h1>
                        <h2 class="fs-4">Secretária Municipal de Meio Ambiente e Gestão Urbana</h2>
                    </div>
                </div>
            </div>
        </div>
    </nav>

    <div class="container-fluid bg-nav">
        <div class="row">
            <div class="col">
                <h1 class="text-center text-white fs-1 py-2">Informações Complementares</h1>
                <!-- tabela localização -->
                <h2 class="fs-4 text-center text-white">Dados Imóvel</h2>
                <table class="table table-primary table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Inscrição</th>
                            <th scope="col">UTM_X</th>
                            <th scope="col">UTM_Y</th>
                            <th scope="col">Tipo Logradouro</th>
                            <th scope="col">Parcelamento imóvel</th>
                            <th scope="col">Quadra</th>
                            <th scope="col">Lote</th>
                            <th scope="col">Número</th>
                            <th scope="col">obs.</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cadastro.insc_imob}}</td>
                            <td>{{cadastro.utm_x}}</td>
                            <td>{{cadastro.utm_y}}</td>
                            <td>{{cadastro.tipo_logradouro}}</td>
                            <td>{{cadastro.parcelamento_imovel}}</td>
                            <td>{{cadastro.quadra_imovel}}</td>
                            <td>{{cadastro.lote_imovel}}</td>
                            <td>{{cadastro.numero_imovel}}</td>
                            <td>{{cadastro.obs_imovel}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--Tabela Dados Ocupante -->
                <h2 class="fs-4 text-center text-white pt-3">Dados Ocupante</h2>
                <table class="table table-primary table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Nome Ocupante</th>
                            <th scope="col">RG</th>
                            <th scope="col">CPF</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cadastro.nome_ocupante}}</td>
                            <td>{{cadastro.rg_ocupante}}</td>
                            <td>{{cadastro.cpf_ocupante}}</td>
                        </tr>
                    </tbody>
                </table>
                <!--Tabela Documentação -->
                <h2 class="fs-4 text-center text-white pt-3">Dados Documentação</h2>
                <table class="table table-primary table-striped mt-4">
                    <thead>
                        <tr>
                            <th scope="col">Notificação</th>
                            <th scope="col">Data da Notificação</th>
                            <th scope="col">Auto</th>
                            <th scope="col">Data do Auto</th>
                            <th scope="col">Processo</th>
                            <th scope="col">CNPJ</th>
                            <th scope="col">Observações</th>
                            <th scope="col">Reincidente</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>{{cadastro.num_notif}}</td>
                            <td>{{cadastro.data_notif}}</td>
                            <td>{{cadastro.num_auto}}</td>
                            <td>{{cadastro.data_auto}}</td>
                            <td>{{cadastro.num_processo}}</td>
                            <td>{{cadastro.num_cnpj}}</td>
                            <td>{{cadastro.obs_documentacao}}</td>
                            <td>{{cadastro.RadioReincidente}}</td>        
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="col mb-3">
                <a class="btn btn-primary mt-3" href="{% url 'index' %}" role="button">Voltar</a>
                <a class="btn btn-danger mt-3 mx-4" href="{% url 'editarCadastro' cadastro.id %}" role="button">Editar</a>
            </div>
        </div>
    </div>
</body>

</html>