<!-- carregando a biblioteca instalada no settings.py-->
{% load django_bootstrap5 %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- carregando o link css e o script do javascript -->
    {% bootstrap_css %}
    {% bootstrap_javascript %}
   
</head>

<body class="corpo">

    <div class="container-sm mt-5 p-3 bg-light border border-3 border-primary rounded">
        <h1 class="fs-2 text-primary text-center">CGAP – Coordenadoria de Gestão de Áreas Públicas</h1>
        <h2 class="fs-3 text-primary text-center">Secretária Municipal de Meio Ambiente e Gestão Urbana</h2>

        <div class="row mt-5">
            <div class="col">
                <h1 class="fs-4 text-primary">Escolha a opção desejada!</h1>
            </div>
        </div>
        <div class="row mt-3">
            <div class="col">
                <p class="text-white fs-5"><a href="">Cadastrar</a></p>
                <p class="text-white fs-5"><a href="">Atualizar</a></p>
                <p class="text-white fs-5"><a href="">Pesquisar</a></p>
                <p class="text-white fs-5"><a href="">Deletar</a></p>
            </div>
        </div>
    </div>


</body>

</html>