{% load django_bootstrap5 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    {% bootstrap_css %}
    {% bootstrap_javascript %}
    <link rel="stylesheet" href="{% static 'css/styles_cadastro.css' %}">

</head>

<body>
    <!-- Navegação -->
    <nav class="navbar mb-5 bg-nav">
        <div class="container-fluid">
            <div class="container border rounded pt-3">
                <div class="row">
                    <div class="col-lg-1 mb-2 text-center">
                        <img class="img-fluid" src="{% static 'img/Brasao.png' %}" alt="Brasao CG" width="80"
                            height="80">
                    </div>
                    <div class="col-lg-11 text-center text-white pt-2">
                        <h1 class="fs-4">CGAP – Coordenadoria de Gestão de Áreas Públicas</h1>
                        <h2 class="fs-4">Secretária Municipal de Meio Ambiente e Gestão Urbana</h2>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    <!--Formulario de pesquisa-->
    <div class="container bg-nav mt-5 p-5 text-white border rounded">
        <div class="row">
            <div class="col-md">
                <div class="row g-3">
                    <form class="form border rounded p-3" action="{% url 'pesquisar' %}" method="GET">
                        <div class="row">
                            <div class="col-md-6">
                                <label for="inputInscricao" class="form-label">Inscrição:</label>
                                <input type="text" class="form-control" id="inputInscricao"
                                    placeholder="Inscrição Imobiliária">
                            </div>
                            <div class="col-md-6">
                                <label for="inputNameOcupante" class="form-label">Nome:</label>
                                <input type="text" class="form-control" id="inputNameOcupante"
                                    placeholder="Nome do Ocupante">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-10 col-md-8">
                                <label for="inputAddress" class="form-label">Endereço</label>
                                <input type="text" class="form-control" id="inputAddress" placeholder="Marechal Rondon">
                            </div>
                            <div class="col-lg-2 col-md-4 col-sm-4">
                                <label for="inputAddress2" class="form-label">Número</label>
                                <input type="text" class="form-control" id="inputAddress2" placeholder="2665">
                            </div>
                        </div>
                        <div class="row pt-3">
                            <div class="col-12">
                                <select class="custom-select mt-3" id="inputGroupSelect01" name="reg_urbana" required>
                                    <option selected>Regiões Urbanas</option>
                                    <option value="Anhanduizinho">Anhanduizinho</option>
                                    <option value="Bandeira">Bandeira</option>
                                    <option value="Centro">Centro</option>
                                    <option value="Imbirussu">Imbirussu</option>
                                    <option value="Lagoa">Lagoa</option>
                                    <option value="Prosa">Prosa</option>
                                    <option value="Segredo">Segredo</option>
                                    <option value="Dist. Anhandui">Dist. Anhandui</option>
                                    <option value="Dist. Rochedinho">Dist. Rochedinho</option>
                                    <option value="Zona Rural">Zona Rural</option>
                                </select>
                            </div>
                            <div class="col-12 my-3">
                                <button type="submit" class="btn btn-primary my-3">Pesquisar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="container bg-nav border rounded mt-5">
        <div class="row">
            <div class="col">
                <!-- Inserir tabela aqui-->
                <h1 class="text-center text-white fs-1 py-4">Tabela</h1>
                <table class="table table-primary table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID</th>
                            <th scope="col">Inscrição</th>
                            <th scope="col">Logradouro</th>
                            <th scope="col">Número</th>
                            <th scope="col">Região</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for cadastro in cadastros %}
                        <tr>
                            <td>{{cadastro.id}}</td>
                            <td>{{cadastro.insc_imob}}</td>
                            <td>{{cadastro.logradouro_imovel}}</td>
                            <td>{{cadastro.numero_imovel}}</td>
                            <td>{{cadastro.reg_urbana}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>



            </div>
        </div>
    </div>




</body>

</html>