@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');

:root {
    --text-formulario: #FFFFFF;
    --cor-de-fundo: #fff;
    --cor-formulario: #005588;
    --borda-brasao: #FFFFFF;
    --borda-formulario: rgba(168, 165, 165, 0.383);
    /* rgba(149, 149, 149, 0.701)*/
}

html body {
    font-family: "Poppins", sans-serif;  
}

label {
    font-size: 14px;
    font-weight: 400;
}

a{
    text-decoration: none;
    color: white;
}
a:hover{
    color: rgb(246, 255, 0);
}

/* navegação */
.bg-nav{
    background-color: #005588;
}

.links-nav{
    display: flex;
    flex-direction: row;  
    justify-content: space-around; 
} 

/* Formulário */
.text-title{
    background-color:#005588;
}

.container-form{
    background-color: #005588;
}











